Flask==3.1.0
matplotlib==3.7.5
mediapipe==0.10.11
numpy==1.24.3
opencv_contrib_python==4.11.0.86
opencv_python==4.11.0.86
Pillow==11.1.0
ruptures==1.1.9
scipy==1.15.2
statsmodels==0.14.1
tqdm==4.67.1
